<div class="container pt-3">
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/user/c_v_r"
          alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= @restaurant.name %></h5>
            <p class="card-text"><%= @restaurant.address %></p>
            <%= link_to 'Back', restaurants_path %>
            <%= link_to 'review', new_restaurant_review_path(@restaurant) %>
        </div>
        </div>
      </div>
    <div class="col-6">
      <h3>
  Reviews for the restaurant
  <small class="text-muted">review info and user rating</small>
</h3>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
  <li class="list-group-item">"<%= review.content %>" Star rating:<%= review.rating %></li>
  <% end %>
</ul>
    </div>
  </div>
</div>
